// Media query breakpoints

$breakpoint-mobile: 660px
$breakpoint-tablet: 1060px

// This controls the default spacing that can be used all across the code base, including the grid
$default-spacing: 40px
$default-spacing-mobile: 20px

// This controls the maximum width of the viewport
$max-width: 1100px // minus 40px padding on the left and right side

// Font-weights
$bold: 600
$medium: 400

// Colors
$green: #7ad354
$dark-green: darken($green, 20%)

// Semantic color variables
$main-bg-color: #ffffff
$main-text-color: #333
$slightly-muted-text-color: #666666
$inverted-text-color: #ffffff

$red: #83773d
$turqoise: #50acc4
$orange: #9cba5f
$yellow: #e5b929

$h1-color: $red
$h2-color: $turqoise
$h3-color: $orange
