<header class="s-header">
    <div class="l-wrapper">
        <div class="s-header__wrapper">
            <div class="s-header__logo">
                <a href="/">
                    <img src="{{ site.image_path }}/logo.png">
                </a>
            </div>

            <div class="s-header__nav">
                <a class="s-header__nav-main-link" href="/blogs">Blogs</a>
                <a class="s-header__nav-main-link" href="/contact">Contact</a>
                <button class="js-menu-hamburger">{% include svg/nav.svg %}</button>
            </div>
        </div>
    </div>
</header>
