<div class="s-other-pages">
    <div class="l-wrapper">
        <div class="s-content">
            <h2>Lees ook:</h2>
            <ul>
                {% for other-page in site.pages %}
                    {% if other-page.include-in-other-pages-list == true %}
                        {% if other-page.permalink != page.permalink %}
                            <li class="u-mb-"><a href="/{{ other-page.permalink }}">{{ other-page.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>