.s-blogs
	&__blog
		display: grid
		grid-gap: 30px
		+box-shadow
		margin-bottom: 30px
		padding: 20px

		+tablet-desktop
			grid-template-columns: 1fr 1fr

	&__title
		font-size: 29px
		text-decoration: none !important
