<!DOCTYPE html>
<html class="{{ page.section }}" lang="nl">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
        <div class="l-wrapper">
            <div class="s-blog">
                <h1 class="s-blog__heading">{{ page.title }}</h1>
                <p class="s-blog__date">{{ page.friendly-date }}</p>
            </div>

            <div class="s-content">
                {% if page.image %}
                    <img src="{{ page.image }}">
                {% endif %}

                {{ content }}
            </div>
        </div>

        {% include other-blog-posts.html %}

        {% include other-pages.html %}

    </main>

    {% include menu.html %}

    {% include footer.html %}

  </body>

</html>
