<!DOCTYPE html>
<html class="{{ page.section }}" lang="nl">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
        {% if page.hero-image != '' %}
            <div class="c-hero" style="background-image: url({{ page.hero-image }})">
                {% if page.hero-slogan %}
                    <div class="c-hero__slogan">{{ page.hero-slogan }}</div>
                {% endif %}
            </div>
        {% endif %}

        <div class="l-wrapper">
            <div class="s-content">
                {{ content }}
            </div>
        </div>

        {% include other-pages.html %}

        {% include other-blog-posts.html %}

    </main>

    {% include menu.html %}

    {% include footer.html %}

  </body>

</html>
